{
  "plugins": [
    "transform-es2015-destructuring",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-react-jsx"
  ],
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-webpack-alias", { "config": "./webpack.config.js" }]
      ]
    }
  }
}
